.sort-options {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: white;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 100%;
  }
}
